
.body-nav-col
  =image_tag "roneesh_warehouse.jpg", class: "about_img"
  %section#about_roneesh
    %p 
      Name: 
      %br
      Roneesh Vashisht 
    %p 
      Hometown:
      %br
      Midlothian, TX 
    %p Current City: Dallas, TX
    %p Site Host: Heroku
    %p Site Technologies: 
    %ul#site_technologies
      %li Rails 3.2.11
      %li HTML5/CSS3
      %li Google Web Fonts
      %li Jquery 
      %li Cycle Slideshow
      %li Tumblr

.body-content-col.abt-width

  %table#WorkandEducation
    %caption <em>Work & Education </em></caption>
    %tr
      %td(scope="col") Dates
      %td(scope="col") Experience
    
    %tr
      %td Fall 2013
      %td Co-founder of startup SignInEasy (www.signineasy.co)

    %tr
      %td Summer 2013
      %td Developer in Residence at Coolhouse Labs Startup Accelerator in Harbor Springs, MI
    
    %tr
      %td Winter 2013 
      %td Advanced HTML/CSS student at The Starter League in Chicago, IL 
    
    %tr
      %td Fall 2012 
      %td Web Development student at The Starter League in Chicago, IL  
    
    %tr
      %td August 2012 
      %td IIT IntroArch Program at the Illinois Institute of Technology in Chicago, IL 
    
    %tr
      %td June to July 2012 
      %td UT Summer Academy in Architecture in Austin, TX 
    
    %tr
      %td June 2009 to June 2012 
      %td Applications Engineer at Westermann Bolt & Gasket in Fort Worth, TX 
    
    %tr
      %td June 2008 to June 2009 
      %td Life in Dallas, TX 
    
    %tr
      %td October 2003 to June 2008 
      %td Mechanical Engineering student at (and graduate of) Kettering University in Flint, MI 
    
    %tr
      %td Early 90's to June 2003 
      %td Student at (and graduate of) Midlothian ISD in Midlothian, TX 

  %br

  %table#ComedyandWriting
    %caption <em>Comedy & Writing </em>
    %tr
      %td(scope="col") Dates
      %td(scope="col") Work

    %tr
      %td Winter to Spring 2013 
      %td Improv AP2, AP3 and AP4 at The Annoyance Theater and Writing level 2 at The Second City in Chicago, IL  
    
    %tr
      %td Fall 2012 
      %td Improv AP1 at The Annoyance Theater and Writing level 1 at The Second City in Chicago, IL  
    
    %tr
      %td Jan 2012 to May 2012 
      %td Improv level 1 and 2 at the Dallas Comedy House in Dallas, TX  


  %br

  #small_tables
    %table#Skills
      %caption <em> Skills </em>
      %tr
        <td scope="col">Skill
        <td scope="col">Level
      
      %tr
        %td Welding and Gas Cutting 
        %td 3/5  
      
      %tr
        %td Rails Back End 
        %td 4/5  
      
      %tr
        %td Web Front End 
        %td 4/5  
      
      %tr
        %td Pipes, Bolts and Gaskets 
        %td 5/5 
      
      %tr
        %td Public Speaking 
        %td 5/5 
      
      %tr
        %td Inside/Outside Sales 
        %td 4/5 

    %table#FavoriteFoods
      %caption <em> Favorite Foods </em>
      %tr
        <td scope="col">Rank
        <td scope="col">Food
      
      %tr
        %td 1 
        %td Hamburgers  
      
      %tr
        %td 2 
        %td Pizza  
      
      %tr
        %td 3 
        %td Bratwurst  
      
      %tr
        %td 4
        %td Every German beer ever 

    %table#FavoriteThings
      %caption <em> Favorite Things </em>
      %tr
        <td scope="col">Rank
        <td scope="col">Thing
      
      %tr
        %td 1 
        %td Comedy  
      
      %tr
        %td 2 
        %td Technology 
      
      %tr
        %td 3 
        %td Ladies  
      
      %tr
        %td 4
        %td Every German beer ever 