<h1> Shop#tattoo </h1>

<div id="shop_tattoo">
<p> I will wear you on my sleeve for life. </p>

<p> $1000 </p>

<p id="shop_tatto_description"> I will tattoo on my left shoulder, in 12pt. courier, your initials for only one thousand dollars. Your first and last name initials will be on my sleeve. The heading will be "Friends", and then on the line below starting from the left, the initials of people who purchase this product, in order of purchase, in 12pt courier. </p>

<p> Terms of Sale:
<ul> 
	<li> A minimum of three orders must be placed for the initial tattoo to be made.</li>
	<li> After the initial tattoo is made, orders will be added one by one </li>
	<li> A middle initial can be added for an extra $250, please contact Roneesh to arrange this </li>
	<li> Upon purchase, I will contact you to discuss the initials you wish to have tattoed </li>
	<li> Upon completion of the tattoo, a framed photo will be sent for your records </li>
	<li> At any point in the ordering process I reserve the right to revoke your order and issue you a full refund less paypal expenses.</li>
</ul>
<br/>
<%= image_tag("shoulder_bw.jpg", class: "shop_shoulder_img") %>
<br/>
</div>

<p> By clicking purchase, you accept all Terms of Sale: </p>
<%= link_to "Purchase", "#" %>
<br/><br/>
