<h1> Shop#video </h1>

<div id="shop_video">
<p> I will wear you on my body temporarily. </p>

<p> $500 </p>

<p id="shop_video_description"> Morbid? Hardly. I will, for one hundred dollars, record a video of me cutting your initials somewhere on my body. Coudld be my forearm, might be my foot, could be mah pinky. You get what you get. What do you get by the way? A hilarious video of me saying "oooh ah ah ah" as I try and suck it up and make a few quick cuts into my skin. </p>

<p> Terms of Sale:
<ul> 
	<li> The cost of $500 covers your initals, two letters only. Any extra initals or a custom message have to be negotiated separately</li>
	<li> I retain all publication rights to said video. You have no rights to upload the video to any site on the internet </li>
	<li> Upon purchase, I will contact you to discuss the initials you wish to have tattoed </li>
	<li> Upon completion of the video, a custom video file can be sent to you through the delivery method of your choice.  </li>
	<li> At any point in the ordering process I reserve the right to revoke your order and issue you a full refund less paypal expenses.</li>
	<li> $20 of each order will be donated to "To Write Love On Her Arms" </li>
</ul>
<br/>
<%= image_tag("forearm_bw.jpg", class: "shop_forearm_img") %>
<br/>
</div>

<p> By clicking purchase, you accept all Terms of Sale: </p>
<%= link_to "Purchase", "#" %>
<br/><br/>
