<h1>Pages#about</h1>

<div id="about">

<section id="about_roneesh">
	<aside id="site_manifesto">
	<p>This is my personal site.</br/> It is a place for me to post my work.* <br/>To try out front-end and back-end techniques and technologies*.<br/> This site is part portfolio, part sand-box.*</p></aside>
	<p>Name: Roneesh Vashisht </p>
	<p>Hometown: Midlothian, TX </p>
	<p>Current City: Chicago, IL* </p>
	<p>Site Host: Heroku</p>
	<p>Site Technologies: 
		<ul id="site_technologies">
			 <li>Rails</li><li>HTML/CSS</li><li>Google Web Fonts</li><li>Jquery</li><li>JqueryUI</li><li>Cycle Slideshow</li>
		</ul>
	</p>
	
	<p><small>* subject to change </small></p>
</section>

</div>

<div id="tables">

<p>Tables:<p>

<section id="large_tables">

<aside id="small_tables">
	<table id="Skills">
	<caption> <em> Skills </em></caption>
	<tr>
		<td scope="col">Skill</td>
		<td scope="col">Level</td>
	</tr>
	<tr>
		<td> Welding and Gas Cutting </td>
		<td> 4/5 </td> 
	</tr>
	<tr>
		<td> Rails Back End </td>
		<td> 3/5 </td> 
	</tr>
	<tr>
		<td> Web Front End </td>
		<td> 2/5 </td> 
	</tr>
	<tr>
		<td> Pipes, Bolts and Gaskets </td>
		<td> 5/5 </td>
	</tr>
	<tr>
		<td> Public Speaking </td>
		<td> 5/5 </td>
	</tr>
	<tr>
		<td> Inside/Outside Sales </td>
		<td> 4/5 </td>
	</tr>
	</table>
</aside>

	<table id="WorkandEducation">
	<caption> <em>Work & Education </em></caption>
	<tr>
		<td scope="col">Dates</td>
		<td scope="col">Experience</td>
	</tr>
	<tr>
		<td> Fall 2012 </td>
		<td> Web Development student at The Starter League in Chicago, IL </td> 
	</tr>
	<tr>
		<td> August 2012 </td>
		<td> IIT IntroArch Program at the Illinois Institute of Technology in Chicago, IL </td>
	</tr>
	<tr>
		<td> June to July 2012 </td>
		<td> UT Summer Academy in Architecture in Austin, TX </td>
	</tr>
	<tr>
		<td> June 2009 to June 2012 </td>
		<td> Applications Engineer at Westermann Bolt & Gasket in Fort Worth, TX </td>
	</tr>
	<tr>
		<td> June 2008 to June 2009 </td>
		<td> Life in Dallas, TX </td>
	</tr>
	<tr>
		<td> October 2003 to June 2008 </td>
		<td> Mechanical Engineering student at (and graduate of) Kettering University in Flint, MI </td>
	</tr>
	<tr>
		<td> Early 90's to June 2003 </td>
		<td> Student at (and graduate of) Midlothian ISD in Midlothian, TX </td>
	<tr>
	</table>

	<br/>

	<table id="ComedyandWriting">
	<caption> <em>Comedy & Writing </em></caption>
	<tr>
		<td scope="col">Dates</td>
		<td scope="col">Work</td>
	</tr>
	<tr>
		<td> Winter 2013 </td>
		<td> Improv AP2 at The Annoyance Theater and Writing level 2 at The Second City in Chicago, IL </td> 
	</tr>
	<tr>
		<td> Fall 2012 </td>
		<td> Improv AP1 at The Annoyance Theater and Writing level 1 at The Second City in Chicago, IL </td> 
	</tr>
	<tr>
		<td> Thanksgiving 2012</td>
		<td> Wrote the plays "Thanksgiving in Space" and "Girls Fucking Boys" in Chicago, IL </td> 
	</tr>
	<tr>
		<td> Jan 2012 to May 2012 </td>
		<td> Improv level 1 and 2 at the Dallas Comedy House in Dallas, TX </td> 
	</tr>
	<tr>
		<td> Thanksgiving 2011 </td>
		<td> Wrote the play "Red Massacre: A Revisionist History of Thanksgiving" in Dallas, TX </td> 
	</tr>
	</table>
	<br/>

</section>

</div>


