<h1>Pages#about</h1>
<p>Name: Roneesh Vashisht <p>
<p>Hometown: Midlothian, TX </p>
<p>Current City: Chicago, IL* </p>
<p>Timeline:<p>
<ul>
	<li> Fall 2012 to Present - Rails developer post The Starter League in Chicago, IL </li>
	<li> Fall 2012 to Present - Improv student at The Annoyance Theater and writing student at The Second City, both in Chicago, IL </li>
	<li> August 2012 - IIT IntroARCH Program, Illinois Institute of Technology in Chicago, IL </li>
	<li> June, July 2012 - UT Summer Academy in Architecture in Austin, TX </li>
	<li> June 2009 to June 2012 - Applications Engineer at Westermann Bolt & Gasket in Fort Worth, TX </li>
	<li> June 2008 to June 2009 - Bum in Dallas, TX </li>
	<li> October 2003 to June 2008 - Mechanical Engineering student (and graduate of) of Kettering University in Flint, MI </li>
	<li> Early 90's to June 2003 - Student (and graduate of) Midlothian ISD in Midlothian, TX </li>

</ul>
<p><small>* subject to change </small></p>