<h1>Pages#contact</h1>
<p> <%= mail_to "roneesh@gmail.com", "roneesh@gmail.com", :cc => "oprah@oprah.com",
         :subject => "Dear Lover," %>
<p> <%= link_to "@Roneesh", "http://www.twitter.com/roneesh" %> </p>
<p> Skype: roneesh </p>
<p> Cell: 469-337-9220 </p>