<body>
	<nav>
		<a href="/about">About</a> |
  		<a href="/contact">Contact</a> |
		<a href="/portfolio">Portfolio</a> |
		<a href="/shop">Shop</a> |
		<a href="https://github.com/roneesh/website">Source</a> |
  		<a href="/twitter">Twitter</a> |
  		<a href="/writing">Writing</a> 
  		
  	</nav>

	<div id="name_area">
		<p>R O N E E S H</p>   
	</div>

  	<!-- <div id="content_carousel"> -->
	<!-- jQuery flexslider from http://www.woothemes.com/flexslider/-->
	  <div class="flexslider">
		<ul class="slides">
		  <li>
		    <img src="slide1.jpg" />
		  </li>
		  <li>
		    <img src="slide2.jpg" />
		  </li>
		  <li>
		    <img src="slide3.jpg" />
		  </li>
		</ul>
	  </div>
  	<!-- </div> -->

</body>