<body>
	<nav>
		<a href="/shop">Shop</a> |
  		<a href="/portfolio">Portfolio</a> |
  		<a href="/about">About</a> |
  		<a href="/contact">Contact</a> |
  		<a href="/twitter">Twitter</a> |
  		<a href="/writing">Writing</a> 
  	</nav>

	<div id="name_area">
		<p>R O N E E S H</p>   
	</div>

  	<div id="content_carousel">
  	
  	</div>

</body>