%h1.hash_title#youth_title Youth's Awful Lessons

%ul
  -@lessons.each do |lesson|
    .lesson
      .cube-container
        .cube
          / %figure.side.front
          / %figure.side.back
          %figure.side.left
            %p.script
              = lesson.script
          %figure.side.right
            .play-icon
              = link_to lesson.url, {class: "html5"} do
                %span.icon-play
            .track
          %figure.side.top
            %p.title-block
              = lesson.title
              %br
              by
              %br
              = lesson.author
              %br
          / %figure.side.bottom


