%h1.hash_title#youth_title Youth's Awful Lessons

%ul
  -@lessons.each do |lesson|
    %li.lesson
      .cube-container
        .cube
          / %figure.side.front
          / %figure.side.back
          %figure.side.left
            %p.script
              = lesson.script
          %figure.side.right.track-panel
            .play-icon
              %span.icon-play
              %audio
                %source{src: "#{lesson.url}", type:"audio/mpeg"}
          %figure.side.top
            %p.title-block
              = lesson.title
              %br
              by
              %br
              = lesson.author
              %br
              %br
              Music by 
              %br 
              Brad Brubaker
          / %figure.side.bottom
    %br
    %br
    %br



