%h1.lesson_title ... Is This What It Feels Like

%ul
  -@lessons.each do |lesson|
    .lesson
      .cube-container
        .cube
          / %figure.side.front
          / %figure.side.back
          %figure.side.left
            .play-icon
              = link_to lesson.url, {class: "html5"} do
                %span.icon-play
            .track
          %figure.side.right
            %p.script
              = lesson.script
          %figure.side.top
            %p.title-block
              Name of Track Here
              %br
              by
              %br
              The Author
              %br
          / %figure.side.bottom


