%h1.lesson_title ... And I Guess I Learned A Lesson.

.lesson
  .content_box
    %p
      Poetic Justice <br/>
      by <br/>
      Roneesh Vashisht <br/>
    %audio(src="assets/audio/Poetic_Justice_ver2.mp3" controls)