%h1.hash_title See where all your friends on Facebook live.

%a(href="https://www.facebook.com/dialog/oauth?client_id=441452829259667&redirect_uri=http://localhost:3000/facebook_friends&state=SOME_ARBITRARY_BUT_UNIQUE_STRING") Log in with Facebook first.
