<h1>Pages#portfolio</h1>

<div id="portfolio_navigation_images">

<p> Click for more. </p>

<span style="inline" id="physical_link_img">
<%= link_to image_tag("physical/physical_gate_2.jpg", class: "port_link_img"), "/portfolio/physical" %>
</span>

<span id="design_link_img">
<%= link_to image_tag("design/pitchpage", class: "port_link_img"), "/portfolio/design" %>
</span>

<span id="arch_link_img">
<%= link_to image_tag("home_pictures.jpg", class: "port_link_img"), "/portfolio/architecture" %>
</span>

</div>



</div>

<script>

</script>


