<h1 class="hash_title">Pages#portfolio</h1>



<p> Click to feel things. </p>

<ul class="portfolio_nav_list clear">
  <li><a href="#physical_link_img"> Physical Things </a></li>
  <li><a href="#design_link_img"> Designed Things </a></li>
  <li><a href="#arch_link_img"> Architectural Things </a></li>
</ul>

<div id="portfolio_navigation_images">

  <div id="physical_link_img" class="tab">
  <%= link_to image_tag("physical/physical_gate_2.jpg", class: "port_link_img"), "/portfolio/physical" %>
  </div>
  
  <div id="design_link_img" class="tab">
  <%= link_to image_tag("design/pitchpage", class: "port_link_img"), "/portfolio/design" %>
  </div>
  
  <div id="arch_link_img" class="tab">
  <%= link_to image_tag("home_pictures.jpg", class: "port_link_img"), "/portfolio/architecture" %>
  </div>

</div>
