<h1>Pages#shop</h1>
<p>Boy for sale:</p>

<div id="shop_images">

<%= link_to image_tag("shoulder_bw.jpg", class: "shop_shoulder_img"), "/shop/tattoo" %>

<%= link_to image_tag("forearm_bw.jpg", class: "shop_forearm_img"), "/shop/video" %>

</div>