
%h1 Pages#transforms


.cube
  %figure.side.top
    %img(src="http://www.glamour.com/images/beauty/2013/02/amy-poehler-bangs-haircut-w724.jpg")
  %figure.side.left 
    %audio(src="images-audio-video/jazz.ogg")
  %figure.side.right 3


.threeD_cube_holder
  .3d_cube
    %figure.three_side.top
    %figure.three_side.front
    %figure.three_side.back
    %figure.three_side.left
    %figure.three_side.right
    %figure.three_side.bottom