// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: 'Cutive Mono', serif;
}

a:link {
	/*text-decoration: none;*/
	color: black;
}


a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

#name_area {
	height: 100px;
	font-size: 72pt;
	text-align: center;
	/*background-color: blue;*/
}

nav {
	height: 24px;
}

/*.cycle-slideshow {
	text-align: center;
	height: 440px;
	margin: 0px auto;
}

.cycle-slideshow img {
	text-align: center;
	height: 440px;
	margin: 0px auto;
}*/

.pics {  
    height:  400px;  
    width:   600px;  
    padding: 0 auto;  
    margin:  0 auto;  
} 
 
.pics img {  
    /*padding: 15px;  */
    /*border:  1px solid #ccc;  */
    /*background-color: #eee;  */
    height: 400px;
    width:  600px; 
    top:  0; 
    left: 0 auto;
    right: 0 auto; 
} 

#slideshow {
	margin: 0px auto;
}

#message_submit {
	border: none;
	text-decoration: underline;
	font-family: 'Cutive Mono', serif;
	font-size: 12pt;
	background-color: white;
	border-left: 0px;
	margin-left: 0px;
	padding-left: 0px;
}

#flash_message {
	color: red;
}

#tables {
}

#large_tables {
	float: left;
	display: block;
}



#small_tables {
	float: right;
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
	border: 2px solid black;
	margin: 20px;
}

th, td {
	border: 1px solid black;
}

tr {
	border: 1px solid black;
}

tr:last-child {
	border-bottom: 2px solid black;
}


