// Layout File

nav 
  height: 45px
  color: black
  background: rgba(230, 230, 230, 1)
  // position: fixed
  // top: 0
  // left: 0
  // right: 0
  a
    text-decoration: none
    font-family: sans-serif
    -webkit-transition: color 0.5s
    transition: color 0.5s
  a:hover
    text-decoration: none
    color: rgba(25, 25, 25, 0.5)
  .nav-col
    width: 13.6666667%
    float: left
    padding-left: 3%
    padding-top: 13px

.body-nav-col
  width: 13.6666667%
  float: left
  padding-top: 25px
  padding-left: 3%
  position: fixed
  top: 75px
  p, a
    font-family: sans-serif

.body-nav-col-px
  width: 200px

.body-content-col
  width: 83.3333333%
  float: left
  padding-left: 16.6666667%
  h3
    // padding-left: 16.6666667%

.work-sample:first-child
  // margin-top: 45px

.work-sample
  // width: 63.6666668%
  width: 85%
  // padding-left: 3%
  // padding-left: 5%  
  margin: 45px auto
  h2, h3
    font-family: sans-serif
    padding-left: 0 
  .work-sample-column
    img
      margin: 25px 15px 0px 0px
      box-shadow: 5px 5px 15px #888888
      -webkit-transition: all 1s linear
      -o-transition: all 1s linear
      -moz-transition: all 1s linear
      -ms-transition: all 1s linear
      -kthtml-transition: all 1s linear
      transition: all 1s linear
      float: left
    img:hover
      box-shadow: 5px 5px 10px rgb(153, 51, 204)


// OLD PAGE REDESIGNS

.new_contact_form
  font-family: sans-serif
  width: 100%
  input, textarea
    width: 100%
    text-align: left


.new_message_submit
  font-family: sans-serif

.abt-width
  width: 600px

#site_technologies
  font-family: sans-serif
  list-style-position: inside
