// Place all the styles related to the Weather controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}

.weather_container {
	/*background: #66FFFF;*/
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
}

.group:before, .group:after {
	display: table;
	content: "";
}

.group:after {
	clear:both;
}

.forecast {
	list-style: none;
	margin: 0 auto;
}

.daily_weather_forecast {
	margin: 1.041666667%; /*10px*/
	min-width: 16.875%; /*162px*/
	height: 120px;
	float: left;
	border: 5px solid black;
	border-radius: 15px;
}

/*17.91666667%;*/

.daily_weather_forecast p {
	margin: 7px auto;
	padding: 0;
}

.daily_weather_forecast img {
	filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
    max-width: 100%;
}

.daily_weather_forecast span {
	opacity: 0.25;
}

.weather_header {
	font-size: 72px;
    margin: 0.0em 0;
}

.weather_tagline {
	margin: 0;
	font-family: 'Volkhov', serif;
	margin-bottom: 10px;
}

@media all and (max-width: 960px) {
	.daily_weather_forecast {
		float: left;
		margin: 1.041666667%; /*10px*/
		min-width: 45.83333333%; /*440px*/
		height: 120px;
	}
}

@media all and (max-width: 560px) {
	.daily_weather_forecast {
	margin: 1.785714286%; /*10px*/
	min-width: 96.42857143%; /*540px*/
	height: 120px;
	float: left;
	}
}
